<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<head>

<title>Agenda personal</title>

</head>
<h:body>
	<h:form action="AgendaController" method="post">

		<h:panelGrid columns="2" layout="grid">
			<h:outputText value="Nombre" class='bx bxs-user'
				style="FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: arial; " />
			<h:inputText id="nombre" value="#{agendaController.nombre}" />
			<h:outputText value="Apellido:"
				style="FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: arial; " />
			<h:inputText id="apellido" value="#{agendaController.apellido}" />
			<h:outputText value="Teléfono:"
				style="FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: arial; " />
			<h:inputText id="telefono" value="#{agendaController.telefono}" />
			<h:outputText value="Correo:"
				style="FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: arial; " />
			<h:inputText id="correo" value="#{agendaController.correo}" />
		</h:panelGrid>

		<h:commandButton value="Guardar Dato"
			actionListener="#{agendaController.guardarRegistroEnBDD}" />

	</h:form>
</h:body>

<style>
* {
	margin: none;
	padding: none;
	box-sizing: border-box;
}

.Container {
	position: relative;
	outline: 1px solid black;
	max-width: 20%;
	min-width: 20%;
	height: 100%;
	padding: 20px;
	margin: auto;
	margin-top: 10%;
	border-radius: 50px;
	background: linear-gradient(145deg, #cacaca, #f0f0f0);
	box-shadow: 6px 6px 17px #989898, -6px -6px 17px #ffffff;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.label {
	margin-top: 20px;
	position: relative;
	font-weight: bold;
	text-align: right;
}

input {
	outline: none;
	border: none;
	width: 80%;
	border-radius: 20px;
	padding: 5px;
}

.btn {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color: #c62d1f;
	border-radius: 18px;
	margin-top: 30px;
	margin-bottom: 30px;
	border: 1px solid #d02718;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	padding: 7px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #810e05;
}

.btn:hover {
	background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color: #f24437;
}

.btn:active {
	position: relative;
	top: 1px;
}

@media ( max-width : 1085px) {
	.container {
		max-width: 40%;
		min-width: 40%;
	}
}

@media ( max-width : 550px) {
	.container {
		max-width: 45%;
		min-width: 45%;
	}
}
</style>
</html>